.page{
    position: relative;
    background: var(--background-color);
    min-height: calc(100vh - 3rem);
    padding-top: 3rem;
}

@media (max-width: 530px) {
    .page{
        padding-top: 0;
    }
}